 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/7bcd3c35-f926-cf66-3c45-39c15d605169.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1760px;
}

.u-section-1 .u-text-1 {
  margin: 30px 207px 0 254px;
}

.u-section-1 .u-products-1 {
  width: 1140px;
  margin: 9px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  min-height: 679px;
  grid-auto-columns: 20%;
  --gap: 0px;
}

.u-section-1 .u-repeater-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  height: 359px;
  width: 286px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -8px 6px 0;
}

.u-section-1 .u-product-price-1 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-repeater-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  height: 359px;
  width: 286px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -8px 6px 0;
}

.u-section-1 .u-product-price-2 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-repeater-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 359px;
  width: 286px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -8px 6px 0;
}

.u-section-1 .u-product-price-3 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-repeater-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  height: 359px;
  width: 286px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -8px 6px 0;
}

.u-section-1 .u-product-price-4 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-repeater-item-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-5 {
  height: 359px;
  width: 286px;
  margin: 0 -7px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -8px 6px 0;
}

.u-section-1 .u-product-price-5 {
  margin: 0 auto 0 30px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-products-2 {
  width: 1140px;
  margin: 42px auto 60px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  --gap: 10px;
  min-height: 866px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 340px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: 30px 30px 0;
}

.u-section-1 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 340px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 30px 30px 0;
}

.u-section-1 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 340px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  margin: 30px 30px 0;
}

.u-section-1 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 340px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 30px 30px 0;
}

.u-section-1 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 307px;
    margin-left: 354px;
  }

  .u-section-1 .u-products-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 0px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-product-price-5 {
    margin-left: 0;
  }

  .u-section-1 .u-products-2 {
    min-height: 375px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 420px;
    margin-left: 461px;
  }

  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-products-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-products-1 {
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-products-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 750px;
    margin-right: 750px;
  }

  .u-section-1 .u-products-1 {
    width: 340px;
    margin-top: 84px;
    margin-right: auto;
    margin-left: 750px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-products-2 {
    width: 340px;
    margin-right: auto;
    margin-left: 750px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}